<html>
  <head>
   Plyus prototype
  </head>
  <body>
    <div>Plyus:
        <a href="{{ url_for('list_games') }}">List games</a>
        {% if g.user.is_authenticated() %}
        | <a href="{{ url_for('logout') }}">Logout</a>
            | welcome, {{ g.user.nickname }}
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>