{% extends "base.html" %}
{% block content %}
    <h1>Games In Progress</h1>
    {% for game in games_in_progress %}
        <p>{{ game.id }} <b>{{ game.real_game.stage }}</b></p>
        <p>current player is {{game.real_game.cur_player_index}}</p>
        {% for player in game.players %}
            <p>{{ player.name }}</p>
        {% endfor %}
    {% endfor %}

    <h1>Games Waiting to Start</h1>
    {% for protogame in games_waiting %}
        <p>Game ID:{{ protogame.id }} Joined So Far:{{protogame.num_joined_players()}} / {{protogame.num_players}} <b>owner:{{ protogame.owner_id }}</b>
        {% if protogame.can_user_start(g.user) %}
            <a href="start">Start</a>
        {% endif %}
        </p>
        {% for protoplayer in protogame.proto_players %}
            <p>Player:{{ protoplayer.user.nickname }}</p>
        {% endfor %}
    {% endfor %}

{% endblock %}
